.infiniteScrollContainer {
    color: var(--text-color), #cfcd76;
    background-color: var(--background-color), #be6bf1;
    padding: var(--padding-md), 1rem;
    font-family: var(--font-family), Arial, sans-serif;

    .loaderContainer {
        text-align: center;
        margin: var(--margin-md), 1rem;
        color: var(--text-color), #cfcd76,
    }

    .observerContainer {
        height: 1px;
        background: transparent;
    }
}

